.table {
  display: flex;
  flex-flow: row nowrap;

  min-height: 100px;
  width: 100%;
  border: 1px solid #000000;
}

.column {
  width: 50%;
}

.column:first-child {
  border-right: 1px solid #000000;
}